* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 30vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
}

body > div {
    margin: auto;
}

/* block */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color:transparent ;
    border: none;
    outline: none;
    padding: 15px 48px ;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    min-width: 100px;
    user-select: none;
}

.btn--size {
    padding: 50px;
}
.btn:hover {
    opacity: 0.8;
}
.btn + .btn {
    margin-left: 8pxpx;
}
.btn--success {
    background-color: pink;
}
.btn--warn {
    background-color: bisque;
}
.btn--danger {
    background-color: aquamarine;
}
.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
    pointer-events: none;
}